/*----------------------------------------------------------------General styles*/

.page-header {
    padding-bottom: 0px;
    margin: 40px 0 20px;
    border-bottom: 0;
}

hr {
    border-width: 3px;
}

.container {
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
}


/*----------------------------------------------------------------Navbar*/

.navbar-nav {
    margin: 0;
}

.nav>li>a {
    color: white;
    padding-left: 10px;
    margin: 0px;
}

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #6498ea;
    border: 0;
    border-radius: 0px;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 10px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-header .navbar-toggle:hover {
    background-color: white;
}

.icon-bar {
    background-color: #6498ea;
}

.navbar-nav>.active>a:hover {
    background-color: white;
    color: #6498ea;
}

.navbar-collapse .navbar-nav>.active>a:hover {
    background-color: white;
    color: #6498ea;
}

.navbar-collapse {
    padding: 0px;
    margin-left: 50px;
    overflow-x: visible;
}

.nav-social-icon a i {
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding-right: 20px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
}

.nav-social-icon a i:hover {
    color: rgb(204, 99, 69);
}

ol,
ul {
    margin-top: 4px;
    margin-bottom: 0px;
}

.navbar-right ul li {
    list-style-type: none;
}



/*--------------------------------------------------------------------------Banner image*/

.logo {
    background: url("/.git/assets/Images/the_monkees_logo.1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


/*--------------------------------------------------------------------------The band*/

.media {
    padding-bottom: 40px;
}

.band-heading,
.band-name {
    color: #884683;
}

.band-heading {
    text-align: center;
}

/*--------------------------------------------------------------------------Videos*/

.flex-video video {
    width: 100%;
    height: auto;
    background: url("https://img.rasset.ie/000bc3a2-800.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.video-heading {
    color: rgb(204, 99, 69);
    text-align: center;
}

/*--------------------------------------------------------------------------Pictures*/

.picture-heading {
    color: rgb(28, 103, 68);
    text-align: center;
}

.pictures img {
    width: 100%;
}

.pictures {
    padding: 20px;
}

.img-thumbnail {
    border: 6px solid rgb(28, 103, 68)
}


/*--------------------------------------------------------------------------Music*/

.tracks-heading {
    text-align: center;
    color: #6498ea;
}

.track-title {
    text-align: center;
    color: #6498ea;
}

audio {
    width: 100%;
}

.music-player {
    padding: 50px;
}


/*------------------------------------------------------------Social media footer*/

footer {
    background-color: #6498ea;
    color: #fafafa;
    min-height: 150px;
    margin: 0;
}

.social-links li a i {
    width: 48px;
    height: 48px;
    padding: 20px 0;
    border-radius: 50%;
    font-size: 25px;
    line-height: 7px;
    text-align: center;
    color: #6498ea;
    background: #ffffff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i:hover {
    color: #ffffff;
    background: rgb(204, 99, 69);
}

#footer-details {
    margin: 20px;
}


/*------------------------------------------------------------Bookings*/

.btn.btn-booking {
    color: #6498ea;
    margin-left: 3px;
}

.btn.btn-booking:hover {
    color: #ffffff;
    background-color: rgb(204, 99, 69);
}